<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forfarmers.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_check"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_check_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDsXWbjrrUmgFE8Ozfq77M1VQUK0eZWnHA" />

        <activity
            android:name="com.forfarmers.myapplication.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.forfarmers.myapplication.MapActivity"/>
        <activity android:name="com.forfarmers.myapplication.DetailActivity"/>
        <activity android:name="com.forfarmers.myapplication.BugItemActivity"/>
        <activity android:name="com.forfarmers.myapplication.CautionActivity"/>
        <activity android:name="com.forfarmers.myapplication.VirusActivity"/>
        <activity android:name="com.forfarmers.myapplication.WarnActivity"/>
        <activity android:name="com.forfarmers.myapplication.OldCautionActivity"/>
        <activity android:name="com.forfarmers.myapplication.VirusItemActivity"/>
        <activity android:name="com.forfarmers.myapplication.DictionaryActivity"/>
    </application>

</manifest>